<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/myheader :: header" />
<body>
<div class="container">
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이미지 번호</th>
                <th>이름</th>
                <th>이미지</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.id}"></td>
                <td th:text="${file.fileOriName}"></td>
                <td>
                    <img th:src="${'/img/'+ file.filename}" style="width:300px;height:auto;">
<!--                    <img th:src=" '/img/' + ${file.filename}" style="width:300px;height:auto;">-->
                </td>

                <td>
                    <a th:href="'javascript:cancel('+${file.id}+')'"
                       class="btn btn-danger">삭제하기</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>

<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/items/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>

</html>