<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/myheader :: header" />
<body>
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />

    <table class="table table-striped">
        <thead>
        <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>좋아요</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${post}">
            <td><span th:text="*{user.userName}"></span></td>
            <td><span th:text="*{title}"></span></td>
            <td><span th:text="*{content}"></span></td>
            <td><span th:text="0"></span></td>
        </tr>
        </tbody>


    </table>


    <div th:if="${session.loginedUserName != null and post.getUser().getUserName() != session.loginedUserName }" class="d-block">
        <!-- 로그인 유저와 작성자가 동일하지 않다면 -->
        <!-- 좋아요 -->
        <input type="hidden" id="like_check" th:value="${like}">
        <img th:id="likeImg" src="/img/like_empty.png" alt="" width="30px"
             height="30px">
        <p>로그인 유저와 작성자가 동일하지 않은 경우입니다.</p>

        <span th:text="${post.userLikePosts.size()}"></span>
    </div>
    <div th:if="${session.loginedUserName==null}">
        <!-- 로그인하지 않은 유저라면 -->
        <img id="loginCheck" src="/img/like_empty.png" alt="" width="30px"
             height="30px">
        <span th:text="${post.userLikePosts.size()}"></span>
        <p>로그인 되어있지 않은 경우입니다.</p>
    </div>



</body>

<script>


    const clickLikeUrl = "/img/like_full.png";
    const emptyLikeUrl = "/img/like_empty.png";

    /** 좋아요 유무에 따라 하트 그림 다르게 보여줌 **/
    //브라우저가 웹 문서를 읽기 시작하고 DOM이 생성되면 실행되는 메소드
    $(function(){

        // 현재 로그인한 유저가 해당 게시물을 좋아요 했다면 likeVal = true,
        // 좋아요하지 않았다면 false
        let likeVal = $('#like_check').val(); // 데이터가 있으면 true
        const likeImg = $('#likeImg');

        console.log("likeVal : " + likeVal);

        if(likeVal === 'true'){
            // 데이터가 존재하면 화면에 채워진 하트 보여줌
            $('#likeImg').attr("src", clickLikeUrl);
        } else if(likeVal === 'false'){
            // 데이터가 없으면 화면에 빈 하트 보여줌
            $('#likeImg').attr("src", emptyLikeUrl);
        }
    });

    /** 좋아요 클릭 시 실행 **/
    $('#likeImg').click(function() {

        alert("버튼 눌렀습니다.");

        const postId = $('#postId').val();
        const likeVal = $('#like_check').val();

        console.log(likeVal);
        if (likeVal === 'true') {
            const con_check = confirm("현재 게시물 추천을 취소하시겠습니까?")
            if (con_check) {
                console.log("추천 취소 진입");
                $.ajax({
                    type: 'POST',
                    url: '/rest/community/post/like/' + postId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {
                    $('#likeImg').attr("src", emptyLikeUrl);
                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        } else if(likeVal === 'false'){
            const con_check = confirm("현재 게시물을 추천하시겠습니까?");
            if (con_check) {
                console.log("추천 진입");
                $.ajax({
                    type: 'POST',
                    url: '/rest/community/post/like/' + postId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {
                    $('#likeImg').attr("src", clickLikeUrl);
                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        }
    });

    /** 로그인하지 않은 유저가 좋아요 누를 때 **/
    $('#loginCheck').click(function(){
        alert("로그인 후 이용할 수 있습니다.");
    });


</script>

</html>