<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/myheader :: header" />
<body>
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />

    <table class="table table-striped">
        <thead>
        <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${post}">
            <td><span th:text="*{user.userName}"></span></td>
            <td><span th:text="*{title}"></span></td>
            <td><span th:text="*{content}"></span></td>
        </tr>
        </tbody>


    </table>



    <div th:if="${session.loginedUserName != null and post.getUser().getUserName() != session.loginedUserName }" class="d-block">
        <!-- 로그인 유저와 작성자가 동일하지 않다면 -->
        <!-- 좋아요 -->
        <input type="hidden" id="like_check" th:value="${like}">

        <div th:if="${checkLiked == true }">
            <img th:id="likeImg" src="/img/like_full.png" alt="" width="30px" height="30px"
                 th:postId="${post.id}"
                 onclick="deleteLike(this.getAttribute('postId'))"
            >
        </div>

        <div th:if="${checkLiked != true }">
            <img th:id="likeImg" src="/img/like_empty.png" alt="" width="30px" height="30px"
                 th:postId="${post.id}"
                 onclick="addLike(this.getAttribute('postId'))"
            >
        </div>



        <span th:text="${post.userLikePosts.size()}"></span>
        <p>로그인 유저와 작성자가 동일하지 않은 경우입니다.</p>
    </div>
    <div th:if="${session.loginedUserName==null}">
        <!-- 로그인하지 않은 유저라면 -->
        <img id="loginCheck" src="/img/like_empty.png" alt="" width="30px" height="30px"
            onclick="unLogined()"
        >
        <span th:text="${post.userLikePosts.size()}"></span>
        <p>로그인 되어있지 않은 경우입니다.</p>
    </div>



</body>


<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    function myFunc() {-->
<!--        const message = /*[[${message}]]*/;-->

<!--        alert(message)-->
<!--    }-->

<!--    function myFunc2(message) {-->

<!--        alert(message)-->
<!--    }-->

<!--    /*]]>*/-->
<!--</script>-->


<script>


    const clickLikeUrl = "/img/like_full.png";
    const emptyLikeUrl = "/img/like_empty.png";

    function unLogined() {

        alert("로그인 해주세요")
    }


    function addLike(id) {

        const img1 = document.querySelector("#likeImg");
        document.getElementById("likeImg").src = "/img/like_full.png";

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/items/" + id + "/like");
        document.body.appendChild(form);
        form.submit();
    }

    function deleteLike(id) {

        const img1 = document.querySelector("#likeImg");
        document.getElementById("likeImg").src = "/img/like_empty.png";

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/items/" + id + "/delete_like");
        document.body.appendChild(form);
        form.submit();
    }

</script>



</html>