<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/myheader :: header" />
<body>
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />

    <table class="table table-striped">
        <thead>
        <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>좋아요</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${post}">
            <td><span th:text="*{user.userName}"></span></td>
            <td><span th:text="*{title}"></span></td>
            <td><span th:text="*{content}"></span></td>
            <td><span th:text="*{loveCount}"></span></td>
        </tr>
        </tbody>


    </table>

</body>

<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/items/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>

</html>